body    {
         color:rgb(181, 141, 127);  /* Red Green Blue (specific colours -can find online; google colour picker to specficy colors)*/
                               /* alternatively: colour: #3ab890; */
        font-family: Nanum Pen Script; /* font1,font2,font3...backfonts incase the user doesn't have a particular font you want*/
         margin: 0px;
         padding-top: 55px;
         background-image: url("homepage_background.jpg");
         background-size: cover;
        }




.scallop {
    position: relative;
    background: rgba(252, 225, 182, 0.6);
          }

          .scallop::after {
                                position: fixed;
                                top: 60px;
                                width: 100%;
                                content: " ";
                                background: radial-gradient(circle at 50% 0%, rgba(252, 225, 182, 1) 25%, rgba(255, 255, 255, 0) 26%, rgba(241, 182, 252, 0) 40%);
                                background-color: #ffffff00;
                                background-size: 50px 100px;
                                height: 28px;
                                background-repeat: repeat-x;
                              }




ul#banner{
    list-style:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background: rgba(195, 148, 148, 0);
    font-family: "Amatic SC", "arial";
    font-size: 15px;
    position: fixed;
    top: 0;
  width: 100%;

    }  ul#banner{
      text-align: center;
      background: rgba(252, 225, 182, 1);

    }


h1,h2 {
        text-alight: center;

      }

h1{

        font-size: 6em; /*em =measurement: 5 times the relative font size of the element*/
        text-align: center;
        text-decoration: overline;
        font-family: Nanum Pen Script;
        text-shadow: bold
}

.wrapper {
    text-align: center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: Nanum Pen Script;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button {
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(214, 124, 153, 0.65);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  align-content: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


h2{
        font-size: 3.5em; /*2.5 times whatever size you're setting it*/
        text-align: center;
        text-decoration: underline;
        font-family: Nanum Pen Script;
        padding-top: 40px;
}



p{
        width: 50%;
        margin:10vh, 10vw;
        margin-left: auto;
        margin-right: 215px;
        font-size: x-large;
}


home{text-align: center;}

a     {
        color: rgb(255, 255, 255);
        text-decoration: underline;
        }

        ol#banner{
            list-style:none;
            margin-bottom: 10%;
            font-size: 1em;
            display: flex; /*a way to get elements into the correct places*/
            justify-content: space-evenly;/*how the browser distributes space and content: making sure the page spreads out evenly*/
          }

          li a {
            display: inline-block;
            font-size: xx-large;
            font-family: Nanum Pen Script;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 16px 16px;
            text-decoration: none;
            position:relative;
          }


  li a:hover {text-decoration: underline;
    background-color: rgba(178, 204, 178, 0.63);
  }


li#about{
  list-style: none;
  font-weight: bold;
  font-size: 1.5em;
  }

li#home{
  list-style: none;
  font-weight: bold;
  font-size: 1.5em;
  }

li#contact{
  list-style: none;
  font-weight: bold;
  font-size: 1.5em;
  }



ol{
        list-style:none;
        padding: 0;
        margin-bottom: 10%;
        font-size: 1em;
        display: flex; /*a way to get elements into the correct places*/
        justify-content: space-evenly;/*how the browser distributes space and content: making sure the page spreads out evenly*/
}
/*Quotes*/
        li#one{
                margin-top: 0%;
                color: rgba(43, 113, 136, 0.6);
                font-style: italic;
              }

        li#two{
                margin-bottom: 0%;
                color: rgba(43, 113, 136, 0.6);
                font-style: italic;
              }
        li#three{
                margin-bottom: 0%;
                color: rgba(43, 113, 136, 0.6);
                font-style: italic;
              }
/*Quotes*/

div.quote1{
        background-color: rgba(102, 212, 197, 0.45);
        color: rgba(255,255,255,0.7);  /* this formats div elements that have been 'classed' -in the HTML file*...refer to Chapter 9 of slides: ID and Class selectors*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

div.quote2{
        background-color: rgba(210, 134, 134, 0.35);
        color: rgba(255,255,255,0.7);  /* this formats div elements that have been 'classed' -in the HTML file*...refer to Chapter 9 of slides: ID and Class selectors*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

ul{
        list-style: none;
        display: flex;
        font-size: x-large;
}



li{
      margin: 0 20px;
      transtition: 0.5s ease; /*transition of 0.6 seconds*/
}

li:hover{
      font-size: 2em;
      transition: 0.5s ease; /*this will only be applied when the mouse is hovered over an area,*/
}


.container {
  position: relative;
  width: 50%;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px;
  border-radius:10px;
}
